{% extends "base.html" %}

{% block content %}
{% if not request.user.is_authenticated %}

<div style="margin-top: 30px;">
    <form action="" method="post">
        {% csrf_token %}
        {% if error %}
            <div style="color: red;">{{ error }}</div>
        {% endif %}
        <div style="margin-top: 10px;"><input type="text" name="username" placeholder="Username" /></div>
        <div style="margin-top: 10px;"><input type="password" name="password" placeholder="Password" /></div>
        <button type='submit' style="margin-top: 10px;"> Login</button>
    </form>
</div>
{% else %}
    <div style="margin-top: 30px;">
        <h1> You are already logged in as {{ request.user.username }} </h1>
        <a href="/logout">Logout</a>
    </div>
{% endif %}
{% endblock content %}